*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent--dashboard--page{
    width: 85%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* overflow-y: auto; */
}
.child--div--dashboard{
    width: 100%;
    overflow-y: auto;
}
.dashboard--addWallet{
    color: whitesmoke;
    padding: 1% 4%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard--title{
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Karla,sans-serif;
}
.addWallet{
    padding: 8px 10px;
    font-weight: 600;
    font-family: Karla,sans-serif;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
}
.addWallet:focus{
    outline: none;
}
.addWallet:hover{
    background-color: rgb(211, 211, 211);
    transition: 0.1s ease-in-out;
}
.addWallet:active{
    transform: scale(0.97);
    transition: 0.1s ease-out;
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7); 
}
.CashBankTracker{
    width: 100%;
    padding: 0% 4%;
    color:white;
    display: flex;
    margin-top: 1%;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
}
.amount{
    /* margin-top: 2%; */
    font-size: 1.2rem;
    font-weight: 600;
}
.cash{
    font-family: Karla,sans-serif;
    background-color: #171717;
    border-radius: 10px;
    width: 100%;
    text-indent: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    cursor: default;
}
.cash--title{
    font-size: 1rem;
    color: rgb(162, 159, 159);
}
.transfer--icon--info{
    color: whitesmoke;
}
.last--total--subscription{
    width: 90%;
    height: inherit;
    margin-left: 4%;
    /* margin-top: 3%; */
}
#transfer--icon{
    font-size: 1.5rem;
    padding: 5px 5px;
    border-radius: 50%;
    background-color: #2F2F2F;
}
.last--transactions{
    width: 28%;
}
.last--transactions--title{
    font-family: Karla,sans-serif;
    font-weight: 500;
    color: rgb(104, 103, 103);
    text-indent: 10px;
}
.transfer--icon--info{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3% 3%;
    gap: 2rem;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #171717;
    margin-top: 10px;
}
.amt--green{
    font-weight: 600;
    font-size: 1.2rem;
    font-family: Karla,san-serif;
    color: #7FE67E;
}
.amt{
    font-weight: 600;
    font-size: 1.2rem;
    font-family: Karla,san-serif;
}
.type{
    margin-top: 5px;
    color: grey;
    font-family: Karla,san-serif;
}
#three-dots{
    font-size: 1.3rem;
    margin-left: auto;
    cursor: pointer;
}
.total--money--title{
    font-family: Karla,sans-serif;
    font-weight: 500;
    color: rgb(104, 103, 103);
    text-indent: 10px;
}

.typeOfTransactionAmount{
    font-weight: 500;
    color: grey;
    font-family: Karla,sans-serif;
}

.amount--currency{
    /* width: 100%; */
    /* margin-left: auto; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3% 3%;
    gap: 0.5rem;
    border-radius: 10px;
    padding: 15px 20px;
    color: whitesmoke;
    background-color: #171717;
    margin-top: 10px;
}
.amount--currency--1{
    margin-left: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}
.total--money{
    width: 32%;
}
.currency{
    /* margin-left:auto; */
    font-size: 1.2rem;
    font-family: Karla,sans-serif;
    font-weight: 600;
}
.last--total--subscription{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem
}
.all-subscriptions--title{
    font-family: Karla,sans-serif;
    font-weight: 500;
    color: rgb(104, 103, 103);
    text-indent: 10px;
}
.subscription--child--div{
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5%;
}
.regarding{
    text-indent: 10px;
}
.all--subscriptions--info--div>:nth-child(1){
    margin-top: 0;
}
#diamond{
    font-size: 1.3rem;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #2F2F2F;
    margin-right: 10px;
    color: rgb(44, 93, 240);
}
.all--subscriptions--info--div{
    margin-top: 10px;
    background-color: #171717;
    border-radius: 10px;
    padding: 20px 15px;
}
.all--subscriptions{
    width: 30%;
}
.cost{
    padding-left: 4%;
    margin-left: auto;
    margin-right:2%;
}
#tick{
    font-size: 1.3rem;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #1D2C1D;
    margin-right: 10px;
    color: green;
}
.no--wallets--div{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #171717;
    padding: 2% 0%;
    border-radius: 10px;
}
.no--wallets{
    color: rgb(187, 187, 187);
    font-size: 1.1rem;
    font-family: Karla,sans-serif;
}
.dashboard--subscription--type--div{
    color: whitesmoke;
}
.link--router{
    text-decoration: none;
}
.link--router{
    width: 20%;
}
.link--amount{
    color: whitesmoke;
}
.recent--transaction--div{
    width: 100%;
    display: flex;
    padding: 4% 0%;
    justify-content: center;
    align-items: center;
    color: rgb(162, 162, 162);
    font-family: Karla,sans-serif;
    background-color: #171717;
    border-radius: 8px;
    margin-top: 1rem;
}
.last--total--subscription{
    margin-bottom: 2rem;
}
.greeting--div{
    display: flex;
    width: 100%;
    padding: 1% 4%;
    justify-content: start;
    align-items: center;
}
.greeting{
    font-size: 1.3rem;
    color: grey;

}
.charts--dashboard--div{
    display: flex;
    justify-content: center;
    align-items: end;
    /* padding-top: 1rem; */
    gap: 2%;
    padding: 2% 4%;
}
/* .bar--chart--1{
    display: flex;
    justify-content: start;
    align-items: baseline;
    width: 58%;
    background-color: #171717;
    border-radius: 10px;
} */
.bar--chart--2{
    display: flex;
    /* width: 40%; */
    border-radius: 10px;
    padding: 2% 5%;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}

.MuiChartsAxis-tickLabel {
    fill: whitesmoke !important;
    font-size: 0.8rem !important;
    font-family: Karla, sans-serif !important;
}

.MuiChartsAxis-tick {
    stroke: white !important;
}
.charts{
    display: flex;
    justify-content: center;
    align-items: end;
    /* padding-top: 1rem; */
    gap: 2%;
    padding: 2% 4%;
}
.charts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    height: auto;
}

.pie--div, .bar--chart--2 {
    flex: 1;
    display: flex;
    height: 23rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pie--div {
    position: relative;
    /* height: 22rem; */
    /* height: 100% !important; Adjust height as needed */
    width: 40%; /* Adjust width as needed */    
    background-color: #171717;
    padding: 1% 5% ;
    border-radius: 10px;
}

.pie--chart {
    width: 100%;
    height: 100%;
}